@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar{
    text-align: center;
    max-height: 70px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.navbar-logo{
    margin: 0;
}

body{
    height: 100vh;
    background-image: url("bg/Frame.svg");
    background-position:left bottom;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
}

h1{
    font-size: 4rem;;
    color: white;
}

h2{                                                                                                                                                                                                                                                                          
    font-size: 2rem;
    color: black;
    margin-bottom: 30px;
}

p{
    font-weight: 500;
    color: rgba(146, 146, 146, 1);
    margin-bottom: 40px;
}

a{
    padding: 2px;
}

.float-container{
    display: inline-block;
}

.form-group{
    text-align: left;
}

fieldset{
    padding: 60px;
    width: 60vw;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.95);;
    border-radius: 8px;
    text-align: left;
}

.conta{
    width: 50%;
}

.agencia{
    width: 45%;
}

.form{
    text-align: left;
}

.form label{
    margin: .2em;
}

input, select, .btn {
    width: 100%;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn{
    text-decoration: none;
    text-align: center;
    background-color: #EA1D2C;
    color: white;
    font-weight: 500;
    margin-top: 50px;
}

.btn:hover{
    background-color: #DA5D69;
    color: white;
}

@media only screen and (max-width: 1148px) {
  }