body {
    background-image: url(bg/Frame.svg),url(bg/bg.jpg);
}

.float-container{
    padding: 100px;
}

.float-title{
    width: 50%;
    float: left;
}

.title{
    text-align: left;
    position: absolute;
    top: 40%;
}

fieldset{
    width: 500px;
    background-color: white;
    border-radius: 8px;
    width: 60%;
    padding: 40px;
    text-align: left;
}

.form{
    text-align: left;
}

.float-form{
    text-align: left;
    padding: 30px;
    width: 50%;
    float: right;
}

.form label{
    margin: .2em;
}

.form:focus{
    border: #EA1D2C;
}

@media only screen and (max-width: 1024px) {
    body {
      width: 50%;
    }
  }