.float-container{
    display: inline-block;
}

.form-group{
    text-align: left;
}

fieldset{
    padding: 60px;
    width: 60vw;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.95);;
    border-radius: 8px;
    text-align: left;
}

.form{
    text-align: left;
}

.form label{
    margin: .2em;
}

@media only screen and (max-width: 1024px) {
  }