@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.navbar{
    max-height: 70px;
    background-color: white;
    margin-bottom: 60px;
    padding: 0;
}

.navbar-logo{
    margin: 0;
}

body{
    height: 100vh;
    
    flex-direction: column;
    justify-content: center;

    background-image: url("bg/Frame.svg");
    background-position:left bottom;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
}

main.cards{
    display: flex;
    padding: 100px;;
}

main.cards section.card img{
    display: flex;
    width: 64px;
}

main.cards section.card{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: center;
    padding: 32px;
    border-radius: 8px;
    height: 50vh;
    max-width: 350px;
    max-height: 1000px;
    margin-left: 120px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

main.cards section.card:first-child{
    margin-left: 0px;
}

h1{
    font-size: 4rem;;
    color: white;
}

h2{                                                                                                                                                                                                                                                                          
    font-size: 2rem;
    color: black;
    margin-bottom: 0px;
}

h3{
    padding-top: 50px;
    padding-bottom: 50px;
}

p{
    font-weight: 500;
    color: rgba(146, 146, 146, 1);
    margin-bottom: 40px;
}

a{
    padding: 2px;
}

.float-container{
    display: inline-block;
}

fieldset{
    padding: 60px;
    width: 60vw;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.95);;
    border-radius: 8px;
    text-align: left;
}

.btn{
    border: none;
    width: 15%;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: #EA1D2C;
    font-weight: 500;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    padding: 12px 0;
}

.btn:hover{
    background-color: #DA5D69;
    color: white;
}

@media only screen and (max-width: 1148px) {
  }