body{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.float-container{
    display: inline-block;
}

main.cards{
    display: flex;
    padding: 100px;;
}

main.cards section.card img{
    display: flex;
    width: 64px;
}

main.cards section.card{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: center;
    padding: 32px;
    border-radius: 8px;
    height: 50vh;
    max-width: 350px;
    max-height: 1000px;
    margin-left: 120px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

main.cards section.card:first-child{
    margin-left: 0px;
}

.btn{
    width: 15%;
    margin: 8px 0;
    background-color: white;
    color: #EA1D2C;
}

@media only screen and (max-width: 1024px) {
  }