
body{
    text-align: center;
}

.float-container{
    display: inline-block;
}

.form-group{
    text-align: left;
}

fieldset{
    padding: 60px;
    width: 60vw;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.95);;
    border-radius: 8px;
    text-align: left;
}

.estado{
    width: 45%;
}

.cidade{
    width: 50%;
}

.numad{
    width: 50%;
}

.endereco{
    width: 45%;
}

.form{
    text-align: left;
}

.form label{
    margin: .2em;
}

@media only screen and (max-width: 1024px) {
  }